@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  color-scheme: dark;
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom, #0a0a0a, #0f172a);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
